@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 400ms;
    z-index: 2000;
}

.preloader.hide {
    opacity: 0;
    pointer-events: none;
}

.preloader .preloader-text span{
    color: black;
    letter-spacing: 4px;
    font-size: 40px;
    font-family: 'Sansita Swashed', cursive;
    font-weight: bold;
    margin-top: 100px;
}

.preloader .dots-container {
    display: flex;
    margin-bottom: 30px;
}

.preloader .dot {
    background: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}

.preloader .dot.red {
    background: red;
    animation: bounce 1000ms infinite;
}

.preloader .dot.orange {
    background: orange;
    animation: bounce 1000ms infinite;
    animation-delay: 100ms;
}

.preloader .dot.yellow {
    background: yellow;
    animation: bounce 1000ms infinite;
    animation-delay: 200ms;
}

.preloader .dot.green {
    background: green;
    animation: bounce 1000ms infinite;
    animation-delay: 300ms;
}

.preloader .dot.blue {
    background: blue;
    animation: bounce 1000ms infinite;
    animation-delay: 400ms;
}

.preloader .dot.indigo {
    background: indigo;
    animation: bounce 1000ms infinite;
    animation-delay: 500ms;
}

.preloader .dot.violet {
    background: violet;
    animation: bounce 1000ms infinite;
    animation-delay: 600ms;
}

@keyframes bounce {
    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}
